/* General Styles */
body {
  background: url("images/bg-image.jpg") center/cover no-repeat, #071739;
  font-family: "Garamond", serif;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Hero Section */
#hero {
  padding: 3rem 1rem;
}

.hero-title {
  font-family: "Uncial Antiqua", cursive;
  font-size: 6rem;
  color: #28293d;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.7);
  margin-bottom: 0.5rem;
}

.hero-subtitle {
  font-size: 2rem;
  color: #2e3061;
}

.hero-text {
  font-size: 1.5rem;
  color: #4d4f93;
}

/* Logo Styling */
#logo {
  max-width: 9rem;
  filter: drop-shadow(0 0 0.6rem rgba(255, 255, 255, 0.3));
}

/* CTA Button */
.cta-button {
  background-color: #b2a6be;
  color: #071739;
  padding: 0.75rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s;
  border: none;
}

.cta-button:hover {
  background-color: #5f75a7;
  transform: scale(1.1);
}

/* Video */
#video-section {
  text-align: center;
  margin-bottom: 5rem;
}

#video-section video {
  width: 80%;
  max-width: 50rem;
  border-radius: 0.6rem;
  box-shadow: 0px 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
}

/* Service Cards */
.service-card {
  background-color: #555184;
  padding: 1.25rem;
  border-radius: 0.625rem;
  margin: 0.625rem;
  text-align: center;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  width: 17rem;
  height: 15rem;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service-card.one { background: url("images/tarotcardreading.jpg") center/cover no-repeat; }
.service-card.two { background: url("images/psychic-guidance.jpg") center/cover no-repeat; }
.service-card.three { background: url("images/numerology.jpg") center/cover no-repeat; }
.service-card.four { background: url("images/astrology.jpg") center/cover no-repeat; }
.service-card.five { background: url("images/vastu-shastra.jpeg") center/cover no-repeat; }
.service-card.six { background: url("images/logo-design.jpg") center/cover no-repeat; }
.service-card.seven { background: url("images/past-life.jpg") center/cover no-repeat; }
.service-card.eight { background: url("images/reiki.jpg") center/cover no-repeat; }

.service-card h3 {
  color: #e6ca28;
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}

.service-card p {
  color: #e9e9f1;
  font-size: 1rem;
  flex-grow: 1;
}

.service-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 2.5rem 0;
}

.service-card:hover {
  transform: translateY(-0.625rem);
  box-shadow: 0 0.9375rem 1.5625rem rgba(0, 0, 0, 0.3);
}

/* Service Card Content */
.service-card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: white;
  filter: brightness(1.2) contrast(1.5);
}

.service-card-content h1 {
  font-size: 1.375rem;
  font-weight: 800;
  text-shadow: 0.1875rem 0.1875rem 0.75rem rgba(255, 255, 255, 0.3),
    0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.9);
}

.service-card-content p {
  font-size: 0.9375rem;
  line-height: 1.6;
  text-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.5);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  max-width: 70rem;
  margin: 0 auto;
  flex-wrap: wrap;
}
.hero-image {
  flex: 1;
  max-width: 25rem;
}
.hero-image img {
  width: 80%;
  height: auto
}
.hero-content {
  flex: 1;
  max-width: 25rem;
  text-align: justify;
}
.hero-text {
  font-size: 1.5rem
}

/* Responsive Fix for Smaller Screens */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-image,
  .hero-content {
    max-width: 100%;
  }
}

/* Contact Section */
#contact {
  padding-top: 3.75rem;
}

/* Footer */
footer {
  padding: 1.25rem;
  margin-top: 1.875rem;
  font-size: 0.875rem;
}